@use 'src/utility/style/mixin.scss' as *;

.parent {
    width: 1024px;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px dashed gray;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 10px;
    row-gap: 15px;

    @include responsive(md) {
        width: 100%;
    }

    > div {
        @include center-of-rectangle;

        &:hover {
            scale: 1.05;
        }
    }
}
