@use 'src/utility/style/mixin.scss' as *;

.parent {
    margin-top: 70px;
    width: 100%;

    > div {
        width: 100%;
    }

    > .diaryContainer {
        > div:nth-child(1) {
            margin: 30px 0;
        }
    }
}
