@use 'src/utility/style/mixin.scss' as *;

.parent {
    @include center-of-column;

    > div {
        width: 1024px;
        background-color: white;
        box-sizing: border-box;
        padding: 10px;

        @include responsive(md) {
            width: 100%;
            padding: calc((10 / 1024) * 100vw);
        }

        > div {
            width: 100%;
        }

        > div:nth-child(2) {
            margin-top: 30px;
        }
    }
}
