@use 'src/utility/style/mixin.scss' as *;

.parent {
    @include center-of-row;
    align-items: stretch;
    margin: 10px 0;
    min-height: 20px;

    > .field {
        @include center-of-row;
        @include widthRes(120px, md, 1);
        @include heightRes(25px, md, 1);
        @include fontSizeRes(18px, md, 1);
        @include marginRes(0px, 2px, md, 1);
        font-weight: 500;

        @include responsive(sm) {
            @include widthRes(120px, md, 1.5);
            @include heightRes(25px, md, 1.5);
            @include fontSizeRes(18px, md, 1.5);
            @include marginRes(0px, 2px, md, 1.5);
        }
    }

    > .content {
        @include center-of-row;
        @include heightRes(25px, md, 1);
        @include fontSizeRes(14px, md, 1);
        @include marginRes(0px, 2px, md, 1);
        color: gray;
        flex: 1;

        @include responsive(sm) {
            @include heightRes(25px, md, 1.5);
            @include fontSizeRes(14px, md, 1.5);
            @include marginRes(0px, 2px, md, 1.5);
        }
    }
}
