@use 'src/utility/style/mixin.scss' as *;

.parent {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 15px;

    > .top {
        width: 100%;
        height: max-content;
        // display: flex;
        // height: 50px;
        // box-sizing: border-box;
        // padding-bottom: 5px;
        // border-bottom: 1px solid gray;

        // > div {
        //     height: 100%;
        //     width: calc(100% / 3);
        // }

        // > div:nth-child(1) {
        //     display: flex;
        //     > img {
        //         height: 100%;
        //         aspect-ratio: 1 / 1;
        //     }

        //     > div {
        //         height: 100%;
        //         font-size: 1.2rem;
        //         font-weight: 600;
        //         flex-grow: 1;
        //         @include center-of-row;
        //         margin: 0 10px;
        //         @include line-clamp(2);
        //     }
        // }

        // > div:nth-child(2) {
        //     font-style: italic;
        //     font-size: 0.9rem;
        //     @include center-of-rectangle;
        // }

        // > div:nth-child(3) {
        //     display: flex;
        //     align-items: center;
        //     justify-content: flex-end;

        //     > svg {
        //         cursor: pointer;
        //         border-radius: 50%;
        //         width: 30px;
        //         height: 30px;

        //         &:hover {
        //             background-color: rgb(226, 226, 226);
        //         }
        //     }
        // }
    }

    > .center {
        width: 100%;
        height: max-content;
        // box-sizing: border-box;
        // padding: 5px 0;
        // width: 100%;
        // height: 100%;
        // border-bottom: 1px solid gray;

        // > div:nth-child(1) {
        //     > div:nth-child(1) {
        //         @include line-clamp(3);
        //     }
        //     > div:nth-child(2) {
        //         font-style: italic;
        //         font-weight: 200;
        //         font-size: 0.9rem;
        //         cursor: pointer;
        //         user-select: none;
        //         overflow: hidden;
        //         width: 0;
        //         height: 0;

        //         &.more_active {
        //             width: max-content;
        //             height: max-content;
        //         }
        //     }
        // }

        // > div:nth-child(2) {
        //     width: 100%;
        //     height: 400px;
        //     position: relative;
        //     margin-top: 10px;
        //     z-index: 9;

        //     > div:nth-child(1) {
        //         width: 100%;
        //         height: 100%;
        //         background-color: black;
        //         display: flex;
        //         flex-grow: 1;
        //         overflow-x: auto;
        //         @include small-scroll-xx(0);
        //         scroll-snap-type: x mandatory; // snap từng item
        //         scroll-behavior: smooth; // scroll mượt

        //         > img {
        //             width: 100%;
        //             height: 100%;
        //             object-fit: contain;
        //             user-select: none;
        //             flex: 0 0 100%;
        //             scroll-snap-align: start;
        //         }
        //     }

        //     > div:nth-child(2) {
        //         position: absolute;
        //         top: 20px;
        //         left: 20px;
        //         background-color: white;
        //         box-sizing: border-box;
        //         padding: 5px;
        //         border-radius: 50%;
        //         opacity: 0.3;
        //         user-select: none;

        //         &:hover {
        //             opacity: 1;
        //         }
        //     }

        //     > div:nth-child(3),
        //     > div:nth-child(4) {
        //         position: absolute;
        //         color: white;
        //         top: 50%;
        //         transform: translateY(-50%);
        //         opacity: 0.3;
        //         cursor: pointer;

        //         &:hover {
        //             opacity: 1;
        //         }
        //     }

        //     > div:nth-child(3) {
        //         left: 3%;
        //     }

        //     > div:nth-child(4) {
        //         right: 3%;
        //     }
        // }
    }
}
