@use 'src/utility/style/mixin.scss' as *;

.parent {
    --pos-selected: 0;
}

.parent {
    position: relative;
    height: 30px;

    > div:nth-child(1) {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        z-index: 10;
        position: absolute;

        > div {
            height: 100%;
            width: calc(100% / 3);
            position: relative;
            cursor: pointer;
            overflow: hidden;
            user-select: none;

            &:hover {
                background-color: rgba(228, 243, 255, 0.3);
                > div:nth-child(2) {
                    background-color: rgb(132, 200, 255);
                }
            }

            > div:nth-child(1) {
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                padding: 0 3px;
                overflow: hidden;
                z-index: 2;

                > div {
                    background-color: aqua;
                    margin-top: 7px;
                    width: max-content;
                    height: max-content;
                }
            }

            > div:nth-child(2) {
                height: 3px;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 2;
            }
        }

        > div:not(:nth-child(3)) {
            > div:nth-child(1) {
                @include center-of-column;
            }
        }
    }

    > div:nth-child(2) {
        height: 100%;
        width: calc(100% / 3);
        background-color: rgba(174, 219, 255, 0.3);
        position: absolute;
        top: 0;
        left: calc((100% / 3) * var(--pos-selected));
        z-index: 9;

        transition: left 0.5s linear;

        > div:nth-child(1) {
            height: 3px;
            width: 100%;
            bottom: 0;
            background-color: rgb(0, 140, 255);
            position: absolute;
        }
    }
}
