@use 'src/utility/style/mixin.scss' as *;

.parent {
    width: 100%;
    height: 100%;
    position: relative;

    > video {
        width: 100%;
        height: 100%;
    }

    > .control {
        width: 0;
        height: 0;

        > svg {
            position: absolute;
            top: 5px;
            right: 5px;
            user-select: none;
            cursor: pointer;
        }
    }
}
