// @use '../../../utility//style//mixin.scss' as *;
@use 'src/utility/style/mixin.scss' as *;

.parent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    border-bottom: 1px solid gray;
    z-index: 2000;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 900;
    box-sizing: border-box;

    > div {
        height: 100%;
        box-sizing: border-box;
    }

    > .left {
        padding-left: 30px;
        background-color: white;
        width: 20%;
        max-width: 40%;
    }

    > .center {
        background-color: white;
        @include center-of-rectangle;
    }

    > .right {
        padding-right: 20px;
        background-color: white;
        width: 20%;
        max-width: 40%;

        // @include responsive('lg') {
        //     top: 61px;
        //     width: 100%;
        // }
    }
}
