// @use '../../../utility//style//mixin.scss' as *;
@use 'src/utility/style/mixin.scss' as *;

.parent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    border-bottom: 1px solid gray;
    z-index: 2000;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 900;

    > div {
        height: 100%;
        @include center-of-row;
    }

    > .left {
        width: 20%;
    }

    > .center {
        background-color: white;
        width: 60%;
    }

    > .right {
        width: 20%;
    }
}
