@use 'src/utility/style/mixin.scss' as *;

.parent {
    background-color: #eee;
    @include center-of-column;

    > .main {
        background-color: white;
        padding-bottom: 100px;
        width: 1024px;

        > .header {
            width: 100%;
            height: 100px;
            @include center-of-rectangle;

            > div {
                width: max-content;
                font-size: 1.5rem;
                font-weight: 700;
            }
        }

        > .infor {
            margin-top: 50px;

            > div:nth-child(1) {
                @include center-of-column;

                > div {
                    width: 100%;
                    max-width: 300px;

                    > .myInput {
                        margin: 15px 0;
                    }
                }
            }

            > div:nth-child(2) {
                margin-top: 25px;
            }

            > .createBtn {
                margin-top: 50px;
                @include center-of-rectangle;

                > div {
                    width: max-content;
                    background-color: red;
                    color: white;
                    box-sizing: border-box;
                    padding: 10px;
                    border-radius: 10px;
                    font-size: 1.1rem;
                    cursor: pointer;
                }
            }
        }
    }
}
