@use 'src/utility/style/mixin.scss' as *;

.parent {
    > textarea {
        width: 100%;
        resize: none;
        border: none;
        outline: none;
        border: 1px solid gray;
        overflow: hidden;
        box-sizing: border-box;
        padding: 5px;
        border-radius: 5px;
    }

    > .photoContainer {
        width: 100%;

        > .imageContainer {
            @include display-grid(250, 10);
            padding: 5px;

            > .myImage {
                width: 100%;
                height: 100%;
                @include background-color-photo;
            }
        }

        > .videoContainer {
            @include display-grid(250, 10);
            padding: 5px;

            > video {
                width: 100%;
                height: 100%;
                @include background-color-photo;
            }
        }
    }

    > .buttonContainer {
        @include center-of-row;
        justify-content: space-between;

        > .iconBtn {
            > input {
                display: none;
            }
        }

        > .rightBtn {
            @include center-of-row;

            > div {
                margin: 0 5px;
                padding: 3px 5px;
                cursor: pointer;
                user-select: none;
                border-radius: 5px;
            }

            > div:nth-child(1) {
                border: 1px solid gray;
                background-color: rgb(240, 240, 240);

                &:active {
                    background-color: white;
                }
            }

            > div:nth-child(2) {
                border: 1px solid green;
                background-color: rgb(163, 255, 173);

                &:active {
                    background-color: white;
                }
            }
        }
    }
}
