@use 'src/utility/style/mixin.scss' as *;

.parent {
    box-sizing: border-box;
    border-bottom: 1px dashed gray;
    padding: 5px 0;

    > .header {
        @include marginRes(5px, 0px, md, 1);

        @include responsive(sm) {
            @include marginRes(5px, 0px, md, 1.2);
        }
    }

    > .icons {
        @include marginRes(5px, 0px, md, 1);

        @include responsive(sm) {
            @include marginRes(5px, 0px, md, 1.2);
        }

        > svg {
            @include heightRes(25px, md, 1);
            @include widthRes(25px, md, 1);
            @include marginRes(0px, 5px, md, 1);
            cursor: pointer;

            @include responsive(sm) {
                @include heightRes(25px, md, 1.5);
                @include widthRes(25px, md, 1.5);
                @include marginRes(0px, 5px, md, 1.2);
            }
        }

        > .editIcon {
            &.editIcon_active {
                scale: 1.2;
                background-color: rgb(220, 220, 255);
            }
        }
    }

    > .descript {
        > .descriptInput {
            width: 100%;
            resize: none;
            border: none;
            outline: none;
            font-size: 1.05rem;
        }
    }
}
