@use 'src/utility/style/mixin.scss' as *;

.parent {
    background-color: white;
    position: fixed;
    min-width: 300px;
    width: 80vw;
    height: 80vh;
    min-height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 15px;
    opacity: 0;
    display: none;

    transition: opacity 0.3s linear;

    &.parent_show_opacity {
        opacity: 1;
    }

    &.parent_show_display {
        display: block;
    }

    > .header {
        height: 40px;
        @include center-of-row;
        justify-content: space-between;
        padding: 5px 10px;
        box-sizing: border-box;
        border-bottom: 1px solid gray;
        user-select: none;

        > div {
            font-size: 1.1rem;
            font-weight: 500;
        }

        > svg {
            cursor: pointer;
        }
    }

    > .body {
        height: calc(100% - 40px);
        overflow-y: scroll;
        @include small-scroll-yy(3px);

        > .text {
            padding: 5px;
        }

        > .imageContainer {
            width: 100%;
        }

        > .videoContainer {
            width: 100%;
        }
    }
}
