services:
  minio:
    image: minio/minio
    container_name: minio_container
    command: server /data --console-address ":9001"
    restart: unless-stopped
    networks:
      - network_shopm
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - /data:/data
    deploy:
      resources:
        limits:
          memory: 384M
    mem_limit: 384m
    memswap_limit: 384m

networks:
  network_shopm:
    external: true
