@use 'src/utility/style/mixin.scss' as *;

.parent {
    width: 1024px;
    box-sizing: border-box;
    @include paddingRes(10px, 10px, md, 1);
    border-bottom: 1px dashed gray;

    @include responsive(sm) {
        @include paddingRes(10px, 10px, md, 1.2);
    }

    @include responsive(md) {
        width: 100%;
    }

    > .headerLoading {
        width: 120px;
        height: 40px;
        margin: 5px 0;
    }
    > .header {
        font-size: 1.1rem;
        font-weight: 600;
        box-sizing: border-box;
        padding: 10px;
    }

    > .inputContainer {
        width: 100%;

        > textarea {
            width: 100%;
            flex: 1;
            font-size: 1.2rem;
            box-sizing: border-box;
            padding: 10px;
            border: none;
            outline: none;
            resize: none;
        }
    }

    > .sendBtnContainer {
        width: 100%;
        @include center-of-row;
        justify-content: flex-end;

        > svg {
            color: blue;
            cursor: pointer;
            width: 25px;
            height: 25px;
        }
    }
}
