@use 'src/utility/style/mixin.scss' as *;

.parent {
    width: 100%;
    height: 100%;
    position: relative;

    > div:nth-child(1) {
        width: 100%;
        height: 100%;

        > div {
            width: 100%;
            height: 100%;

            > div {
                width: 100%;
                height: 100%;
            }
        }
    }

    > div:nth-child(2) {
        position: absolute;
        background-color: white;
        @include center-of-rectangle;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 3px;
        font-size: 0.8rem;
        cursor: pointer;
        user-select: none;
        opacity: 0.1;

        transition: opacity 0.3s linear;

        &:hover {
            background-color: rgb(237, 237, 237);
            opacity: 1;
        }

        &:active {
            background-color: white;
        }
    }
}
