@use 'src/utility/style/mixin.scss' as *;

.parent {
    background-color: rgba(122, 122, 122, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    @include center-of-rectangle;
    display: none;
    opacity: 0;
    z-index: 1000;
    transition: opacity 0.3s linear;

    &.parent_show_opacity {
        opacity: 1;
    }

    &.parent_show_display {
        display: flex;
    }
}
