services:
    react-rollup:
        container_name: web_container
        build:
            context: .
            dockerfile: Dockerfile.test
        ports:
            - '3000:3000'
        networks:
            - network_shopm
        working_dir: /app
        volumes:
            - .:/app
            - node_modules_web:/app/node_modules
        command: sh -c "npm install && npm run dev_test"
        environment:
            - NODE_ENV=test
            - API_URL=http://api.shopm.local.test
            - UPLOAD_URL=http://upload.shopm.local.test
        stdin_open: true
        tty: true

networks:
    network_shopm:
        external: true

volumes:
    node_modules_web:
