@use 'src/utility/style/mixin.scss' as *;

.parent {
    width: 100%;
    height: 100%;
    @include small-scrollX-snap-parent;

    > .lazyImage {
        @include small-scrollX-snap-children;
        @include background-color-photo;
        overflow-y: hidden;
    }
}
