@use 'src/utility/style/mixin.scss' as *;

.parent {
    margin-top: 20px;

    > div:nth-child(1) {
        @include center-of-row;
        justify-content: space-around;

        > div {
            background-color: rgb(190, 190, 255);
            cursor: pointer;
            box-sizing: border-box;
            padding: 10px;
            border-radius: 15px;
            user-select: none;

            &.active {
                background-color: rgb(88, 88, 255);
                color: white;
            }
        }
    }

    > div:nth-child(2) {
        margin-top: 10px;
        @include center-of-rectangle;

        > input {
            box-sizing: border-box;
            padding: 5px;
            border-radius: 10px;
            border: 1px solid gray;
            width: 50%;
        }
    }
}
