.top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    border-bottom: 1px solid gray;
    z-index: 2000;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > div {
        height: 100%;
    }

    > .left {
        background-color: red;
    }

    > .right {
        background-color: blue;
    }
}
