@use 'src/utility/style/mixin.scss' as *;

.parent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    > div:nth-child(1) {
        display: flex;
        align-items: center;

        > div {
            margin: 0 10px;
            cursor: pointer;
            box-sizing: border-box;
            padding: 3px;

            > img {
                width: 30px;
                aspect-ratio: 1 / 1;
            }
        }

        > .iconContainer {
            position: relative;

            > div {
                position: absolute;
                background-color: red;
                color: white;
                width: 20px;
                align-items: 1 / 1;
                border-radius: 50%;
                @include center-of-rectangle;
                right: -5px;
                bottom: 5px;
            }
        }

        > .avatarContainer {
            display: flex;
            align-items: center;

            > div {
                margin-left: 5px;
                @include responsive(md) {
                    display: none;
                }
            }
        }
    }

    > div:nth-child(2) {
        width: 300px;
        height: auto;
        position: absolute;
        border: 1px solid gray;
        top: 50px;
        background-color: white;
        border-radius: 20px;
        box-sizing: border-box;
        padding: 10px;
        right: clamp(0px, 50px, 100px);
        opacity: 1;
        display: none;

        transition: opacity 0.3s linear;

        > div:nth-child(1) {
            display: flex;
            justify-content: flex-end;

            > svg {
                cursor: pointer;
            }
        }

        > div:nth-child(2) {
            border-bottom: 1px solid gray;
            padding: 10px 0;
        }

        > div:nth-child(3) {
            box-sizing: border-box;
            padding-top: 10px;
            overflow: hidden;
        }
    }
}
