@use 'src/utility/style/mixin.scss' as *;

.parent {
    --pos-selected: 0;
}

.parent {
    background-color: white;
    width: 100%;
    height: 300px;
    position: relative;

    transition: height 0.3s linear;

    > .content {
        position: absolute;
        display: flex;
        width: 300%;
        height: max-content;
        left: calc((100%) * (-1) * var(--pos-selected));
        top: 0;

        transition: left 0.5s linear;

        > div {
            width: calc(100% / 3);
            height: 100%;
            height: max-content;
        }
    }

    > .loading {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: white;
        bottom: 0;

        animation: loading_animation 3s infinite;
    }
}

:local {
    @keyframes loading_animation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
