@use 'src/utility/style/mixin.scss' as *;

.parent {
    width: 100%;
    height: max-content;
    display: flex;

    > div:nth-child(1) {
        width: 40px;
    }

    > div:nth-child(2) {
        width: calc(100% - 40px);
        box-sizing: border-box;
        border-radius: 10px;
        padding: 1px;

        > div:nth-child(1) {
            height: 20px;
            @include center-of-row;
            margin-bottom: 5px;

            > img {
                height: 100%;
                aspect-ratio: 1/1;
                border-radius: 50%;
                cursor: pointer;
            }

            > div:nth-child(2) {
                height: 100%;
                width: 50%;
                @include line-clamp(1);
                margin-left: 3px;
                cursor: pointer;
                user-select: none;

                &:hover {
                    text-decoration: underline;
                }

                > strong {
                    font-weight: 600;
                }
            }

            > div:nth-child(3) {
                font-size: 0.8rem;
                cursor: pointer;
                user-select: none;
                color: blue;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        > div:nth-child(2) {
            width: 100%;
            line-height: 22px;
            background-color: rgb(242, 242, 242);

            &.text_hidden {
                @include line-clamp(3);
            }
        }

        > div:nth-child(3) {
            font-style: italic;
            cursor: pointer;
            font-size: 0.8rem;

            &:hover {
                text-decoration: underline;
            }
        }

        > div:nth-child(4) {
            width: 100%;
            height: 100px;
            background-color: rgb(242, 242, 242);

            > div {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        > div:nth-child(5) {
            @include center-of-row;
            justify-content: flex-end;
            user-select: none;

            > div {
                width: max-content;
                > div:nth-child(1) {
                    width: max-content;
                    font-size: 0.8rem;
                    width: 100%;
                    @include center-of-rectangle;

                    @include responsive(xs) {
                        font-size: 0.6rem;
                    }
                }

                > div:nth-child(2) {
                    @include center-of-rectangle;
                    width: max-content;
                    margin: 0 5px;
                    cursor: pointer;
                    font-size: 0.8rem;

                    @include responsive(xs) {
                        font-size: 0.6rem;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        > div:nth-child(6) {
            width: 100%;
            margin-top: 5px;
        }
    }
}
